<div class="container">
  <%= render 'layouts/banner', title: @category.name, subtitle: "Explore the recipes of this category", image_url: asset_path("category_images/#{@category.name.parameterize}.jpg") %>
  <div class="container-fluid d-flex justify-content-between align-items-center mb-4">
    <h2 class="mb-0">Recipes</h2>
    <%= link_to 'Create bookmark', new_category_bookmark_path(@category), class: "btn btn-primary" %>
  </div>
  <div class="recipe-grid">
    <% @bookmarks.each do |bookmark| %>
      <%= render 'recipe_card',
        name: bookmark.recipe.name,
        description: bookmark.recipe.description,
        comment: bookmark.comment,
        rating: bookmark.recipe.rating,
        image_url: bookmark.recipe.image_url %>
    <% end %>
  </div>
</div>
